---

const { title, url, description, pubDate, author, image, tags } = Astro.props;
---

<li>
  <a href={url} title={title} class="group">
    <article class="flex-1 h-full flex flex-col">
      <div class="flex-1 h-[70%]"> <!-- Adjust the height percentage or add a fixed height -->
        <img
          class="object-cover h-full w-full"
          src={image}
          alt={title}
        />
      </div>
      <div
        class="flex flex-col items-start justify-between h-[40%] flex-1 w-full p-4"
      >
        <div>
       
          <p class="text-black mt-2 font-display text-xl text-pretty">
            {title}
          </p>
        </div>
        <p class="mt-4 text-sm text-zinc-500 line-clamp-2">{description}</p>

        <div class="mt-4 flex space-x-2">
          {
            tags.map((tag) => (
              <span class="text-xs font-medium text-black">{tag}</span>
            ))
          }
        </div>
      </div>
    </article>
  </a>
</li>
